.features {
    background-color: $color1;
    padding: 0 0 3em 0;
    text-align: center;

    .feature {
        margin-top: -100px;
        z-index: 9999;
        
        hr {
            background-image: linear-gradient(to right, $color1, $color0, $color0, $color0, $color1);
            border: 0;
            height: 2px;
            /*margin: 0 0 0 0;*/
        }
    
        img {
            padding: 0 0 1em 0;
        }
    }
}

.welcome {
    background-color: $color4;
    padding: 1em 0 1em 0;
}